.party {
  width: 600px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.party h1,
.party h3,
.party p {
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem;
}

.actions-container {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sevices-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 0 2rem;
}

.sevices-container img {
  margin-top: 2rem;
  width: 100%;
  height: 100px;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(17, 24, 39, 0.3);
}
